.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#fff;
    position:sticky;
    top:0;
    width:100%;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.logo h2{
    color:#ff8c00;
    font-size:32px;
    font-weight:700;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a {
    text-decoration:none;
    color:#222;
    font-size:18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color:#ff8c00;
}

.nav-links a.active {
    color: #ff8c00;
    font-weight: 600;
}

.enroll-btn{
    background:#ff8c00;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
}

.enroll-btn:hover{
    background:#e67e22;
}

